<section class="imagelist">
    <div class="dao-table-container top-banner">
        <!--div class="add-image"><button class="dao-btn blue">添加镜像</button></div-->
        <!--
    -->
        <div class="search-image"><input class="dao-control search" type="text" ng-model="searchImage" placeholder="搜索镜像" /></div>
        <!--
  -->
    </div>

    <div class="dao-table-main images">
        <table class="dao-table slat">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <span class="thead-title"><svg class="icon"><use xlink:href="#icon_stack-alt"></use></svg>镜像</span>
                    </th>
                    <th>
                        <span class="thead-title"><svg class="icon"><use xlink:href="#icon_id"></use></svg>签名日期</span>
                    </th>
                    <th>
                        <span class="thead-title"><svg class="icon"><use xlink:href="#icon_calendar"></use></svg>创建日期</span>
                    </th>
                    <th>
                        <span class="thead-title"><svg class="icon"><use xlink:href="#icon_status"></use></svg>认证</span>
                    </th>
                    <th>
                        <span></span>
                    </th>
                </tr>
            </thead>
            <tr ng-repeat="x in $ctrl.data | filter:searchImage">
                <td>
                    <a href="http://dashboard.daocloud.io/packages/{{x.id}}" target="_blank">
                        <div class="image-info">
                            <span class="title">{{x.repo_title}}</span>
                            <dao-progress-pulsing progress=" x.pull_val " ng-if=" x.progress_show "></dao-progress-pulsing>
                        </div>
                    </a>
                </td>
                <td>
                    <div class="image-name">
                        <span class="title">{{x.image_url}}</span>
                    </div>
                </td>
                <td>
                    <div class="image-info">
                        <span class="update">{{x.updated_at}}</span>
                    </div>
                </td>
                <td>{{x.created_at}}</td>
                <td style="color: {{x.blockchain_verified_color}}">
                    <span ng-if=" x.blockchain_verified == '可信' " class="verify-svg has-verified"></span>
                    <span ng-if=" x.blockchain_verified == '不可信' " class="verify-svg not-verified"></span> {{x.blockchain_verified}}
                </td>
                <td>
                    <button class="dao-btn ghost" ng-click=" $ctrl.pullImage(x.latest_tag.image_url, $index) " ng-if=" x.pull_val !== 1 ">拉取</button>
                    <button ng-if=" x.pull_val === 1 " class="dao-btn has-pulled disabled">已拉取</button>
                </td>
            </tr>
        </table>
    </div>
</section>
