<nav class="navbar">
    <div class="logo">
        <div><a>{{ $ctrl.name }}</a></div>
    </div>
    <div class="nav-links">
        <a ui-sref="remote">
            <div><span class="icon"><svg><use xlink:href="#icon_star-line"></use></svg></span><span>云端镜像</span></div>
        </a>
        <a ui-sref="local">
            <div><span class="icon"><svg><use xlink:href="#icon_meter"></use></svg></span><span>本地镜像</span></div>
        </a>
        <a ui-sref="market">
            <div><span class="icon"><svg><use xlink:href="#icon_shop-line"></use></svg></span><span>镜像市场</span></div>
        </a>
        <a ui-sref="person">
            <div><span class="icon"><svg><use xlink:href="#icon_user"></use></svg></span><span>个人设置</span></div>
        </a>
    </div>
</nav>