<navbar></navbar>
<heading></heading>
<section class="market">
  <section class="imagelist">
    <div class="dao-table-container top-banner">
      <!--div class="add-image"><button class="dao-btn blue">添加镜像</button></div--><!--
      --><div class="search-image"><input class="dao-control search" type="text" placeholder="搜索镜像"/></div><!--
    --></div>

    <div class="dao-table-main images">
      <table class="dao-table slat">
        <thead>
          <tr>
            <th></th>
            <th>
              <span class="thead-title"><svg class="icon"><use xlink:href="#icon_stack-alt"></use></svg>镜像</span>
            </th>
            <th>
              <span class="thead-title"><svg class="icon"><use xlink:href="#icon_id"></use></svg>签名日期</span>
            </th>
            <th>
              <span class="thead-title"><svg class="icon"><use xlink:href="#icon_calendar"></use></svg>创建日期</span>
            </th>
            <th>
              <span class="thead-title"><svg class="icon"><use xlink:href="#icon_status"></use></svg>认证</span>
            </th>
            <th>
              <span></span>
            </th>
          </tr>
        </thead>
        <tr ng-repeat="x in $ctrl.data">
          <td>
            <a href="http://dashboard.daocloud.co/packages/{{x.id}}" target="_blank">
              <div class="image-info">
                <span class="title">{{x.repo_title}}</span>
              </div>
            </a>
          </td>
          <td>
            <div class="image-name">
              <span class="title">{{x.image_url}}</span>
            </div>
          </td>
          <td>
            <div class="image-info">
              <span class="update">{{x.updated_at}}</span>
            </div>
          </td>
          <td>{{x.created_at}}</td>
          <td>{{x.blockchain_verified}}</td>
          <td>
            <div class="dao-btn-group">
                <div class="dao-btn ghost">
                  了解详情
                </div>
                <div dao-dropdown="" dropdown-placement="auto bottom" class="dao-btn-group dao-dropdown">
                  <div dao-dropdown-toggle="" class="dao-btn dao-icon ghost dao-dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <svg class="icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_down-arrow"></use>
                    </svg>
                  </div>
                  <div dao-dropdown-menu="" role="menu" class="dropdown-menu-right dao-dropdown-menu top" aria-labelledby="single-button"><div class="arrow"></div>
                    <ul>
                      <li role="menuitem"><a href="http://dashboard.daocloud.co/packages/{{x.id}}" target="_blank">了解详情</a></li>
                      <li role="menuitem">写入区块链</li>
                      <li role="menuitem">拉取</li>
                    </ul>
                  </div>
                </div>
              </div>
          </td>
        </tr>
      </table>
    </div>
  </section>
</section>
