.person {
    padding: 0 40px;
    font-family: "PingFang SC";
    .info-title {
        font-size: 25px;
        margin: 30px 0 20px 0;
        color: rgb(155, 163, 175);
        line-height: 0.96;
        text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.9);
    }
    .dao-list-group-container {
        float: left;
        .dao-list-group {
            width: 198px;
            margin: 0;
        }
    }
    .setting-layout-container {
        margin-left: 218px;
        .info-avatar {
            width: 65px;
            height: 65px;
        }
        .dao-setting-content {
            font-size: 14px;
            color: rgb(61, 68, 79);
        }
    }
    .clear {
        clear: both;
    }
}