<navbar></navbar>
<heading></heading>
<section class="local">
    <section class="imagelist">
        <div class="dao-table-container top-banner">
            <!--div class="add-image"><button class="dao-btn blue">添加镜像</button></div-->
            <!--
      -->
            <div class="search-image"><input class="dao-control search" type="text" ng-model="searchImage" placeholder="搜索镜像" /></div>
            <!--
    -->
        </div>

        <div class="dao-table-main images">
            <table class="dao-table slat">
                <thead>
                    <tr>
                        <th>
                            <!-- <input type="checkbox"> -->
                            <span class="thead-title"><svg class="icon"><use xlink:href="#icon_stack-alt"></use></svg>镜像</span>
                        </th>
                        <th>
                            <span class="thead-title"><svg class="icon"><use xlink:href="#icon_calendar"></use></svg>创建日期</span>
                        </th>
                        <th>
                            <span class="thead-title"><svg class="icon"><use xlink:href="#icon_status"></use></svg>镜像验证</span>
                        </th>
                        <th>
                            <span></span>
                        </th>
                    </tr>
                </thead>
                <tr ng-repeat="x in $ctrl.data | filter:searchImage">
                    <td>
                        <a href="http://dashboard.daocloud.co/packages/{{x.image_id}}" target="_blank">
                            <div class="image-info">
                                <span class="title">{{x.repo_tag}}</span>
                            </div>
                        </a>
                    </td>
                    <td>{{x.created_at}}</td>
                    <td>
                        <span class="icon loading-circle" ng-if="x.show"><svg><use xlink:href="#icon_status-progress-circle"></use></svg></span>
                        <span class="has-verified" ng-if="!x.show" style="color: {{x.text_color}}">{{x.blockchain_verified}}</span>
                        <dao-progress-pulsing progress="x.sign_val" class="pull-progress" ng-if="x.is_sign"></dao-progress-pulsing>
                    </td>
                    <td>
                        <button class="dao-btn blue" ng-click="$ctrl.startSignRepo(x.repo_tag, x.image_id, $index)">签名</button>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</section>