.heading {
    background-color: #fff;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e4e7ee;
    .username {
        position: absolute;
        right: 0;
        padding: 0 30px;
        border-left: 1px solid #e4e7ee;
        color: #3d4450;
        font-size: 18px;
    }
}