<navbar></navbar>
<heading></heading>
<section class="person">
  <div class="form-wrapper">
    <form class="switch-group">
      <div class="">
        <dao-switch name="start-dig" class="asd hhh" ng-model="vm.dig" ng-change="vm.changeCallback()"></dao-switch>
        <span>自动挖矿</span>
      </div>
      <div class="">
        <dao-switch name="auto-verify" class="asd hhh" ng-model="vm.verify" ng-change="vm.changeCallback()"></dao-switch>
        <span>自动认证本地所有镜像</span>
      </div>
      <div class="">
        <dao-switch name="open-notice" class="asd hhh" ng-model="vm.notice" ng-change="vm.changeCallback()"></dao-switch>
        <span>开启通知</span>
      </div>
    </form>
  </div>
</section>
