.heading {
	background-color: #fff;
	height: 60px;
	border-bottom: 1px solid #e4e7ee;

	.sign {
		height: 60px;
		line-height: 60px;

		span {
			display: inline-block;
			text-align: center;
			height: 60px;
			width: 136px;
			font-size: 1.6rem;
			float: right;
			border-left: 1px solid #e4e7ed;
		}
	}
}
