<nav class="navbar">
    <div class="logo">
        <div class="logo-wrapper"></div>
    </div>
    <div class="nav-links">
        <a ui-sref="remote" ng-class="{active: !($ctrl.$state.includes('local') || $ctrl.$state.includes('market') || $ctrl.$state.includes('person') || $ctrl.$state.includes('init'))}">
            <div><span class="icon"><svg><use xlink:href="#icon_meter"></use></svg></span><span>云端镜像</span></div>
        </a>
        <a ui-sref="local" ng-class="{active: $ctrl.$state.includes('local')}">
            <div><span class="icon"><svg><use xlink:href="#icon_docker-image"></use></svg></span><span>本地镜像</span></div>
        </a>
        <a ui-sref="market" ng-class="{active: $ctrl.$state.includes('market')}">
            <div><span class="icon-market-svg"></span><span>镜像市场</span></div>
        </a>
        <a ui-sref="person" ng-class="{active: $ctrl.$state.includes('person')}">
            <div><span class="icon"><svg><use xlink:href="#icon_user"></use></svg></span><span>账户详情</span></div>
        </a>
    </div>
</nav>